{{#section 'css'}}
<link rel="stylesheet" href="/css/checkOrdered.css">
<link rel="stylesheet" href="/css/admin.css">
{{/section}}
<div>
    <div class="float-end">
        <div class="alert alert-success welcome__user" role="alert">
            xin chào Admin,
        </div>
        <div class="dropdown">

            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user-secret iconUser--color"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">

                <li><a class="dropdown-item" href="/admin/showdashboard">Cập nhật hóa đơn</a></li>
                <li><a class="dropdown-item" href="/admin/updateproduct">Cập nhật số lượng sản phẩm</a></li>
                <li><a class="dropdown-item" href="/admin/addproduct">Thêm sản phẩm</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <form class="dropdown-item" method="POST" action="/admin/logoutAD"><button type="submit"
                            class="btn btn-light form-control">Đăng xuất</button></form>
                </li>
            </ul>
        </div>
    </div>

    <div id="aritcle__infor" class="container">
        {{#if issetHD_Admin}}
        <div class="d-flex filter_order mb-1">
            <form action="/admin/showOrder/filterByDate" method="POST">
                <input type="date" name="ngay">
                <button class="btn-design btn-info btn-sizebtn">Tìm</button>
            </form>
            <form action="/admin/showOrder/filterByMonth" method="POST">
                <input type="month" name="thang" aria-placeholder="asdasdsa">
                <button class="btn-design btn-info btn-sizebtn">Tìm</button>
            </form>
            <form action="/admin/showOrder/filterByWeek" method="POST">
                <input type="week" name="tuan">
                <button class="btn-design btn-info btn-sizebtn">Tìm</button>
            </form>
        </div>
        <div class="mb-2">
            <a href="">Tất cả hóa đơn</a>
        </div>
        {{#each AllOrder}}
        <form action="/admin/showdashboard/updateStatus" method="post">
            <div class="inforOrder">
                <h5 class="idOrder">Mã đơn hàng: {{idhd}}</h5>
                <div class="inforOrder--customer">
                    <p>Ngày mua: {{ngaylaphd}}</p>
                    <p>Họ và tên: {{hovaten}}</p>
                    {{#if diachichitiet}}
                    <p>Địa chỉ giao: {{diachichitiet}}</p>
                    {{else}}
                    <p>{{nhanhang}}</p>
                    {{/if}}
                </div>
                <h6 class="statusOrder">Trạng thái đơn hàng: <b>{{trangthai}}</b></h6>
                {{#each listItem}}

                <div class="d-flex justify-content-between mb-2 mr-5 listItem">
                    <div>
                        <p>Sản phẩm: SP{{masp}}, {{tensp}}, {{giasp}}, {{size}}, {{color}}</p>
                    </div>
                    <div>
                        <img style="height: 50px ; withd:50px" src="{{avata}}">
                    </div>
                </div>

                {{/each}}


                <div class="mb-3">
                    <p> Trạng thái đơn hàng:</p>
                    <div class="d-flex statusUpdate">
                        <div>
                            <input type="radio" placeholder="name@example.com" name="trangthai" value="Chờ xác nhân">
                            <label class="form-label">Chờ xác nhận</label>
                        </div>
                        <div>
                            <input type="radio" placeholder="name@example.com" name="trangthai" value="Đang giao">
                            <label class="form-label">Đang giao</label>
                        </div>
                        <div>
                            <input type="radio" placeholder="name@example.com" name="trangthai"
                                value="Giao hàng thành công">
                            <label class="form-label">Giao hàng thành công</label>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="name@example.com" name="idhd" value="{{idhd}}"
                        hidden>
                </div>
                <div class="d-flex justify-content-around mt-3">
                    <p class="tongtien">Tổng tiền: {{tongtien}}</p>

                    <button class="btn btn-danger" type="submit">Cập nhật</button>
                </div>
                <hr>
            </div>

        </form>


        {{/each}}
        {{else}}
        <div>
            Bạn chưa có đơn hàng
        </div>
        {{/if}}
    </div>

</div>