{{#section 'css'}}
<link rel="stylesheet" href="/css/detailProduct.css">
{{/section}}
<div class="container">
    <div class="tilte-main">
        <p class="title-content">Trang chủ -&#62; NOBITAHOME -&#62; {{ctproduct.tensp}}</p>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {{#if this.emptyCTSP}}
            <div>
                <p>Không sản có sản phẩm được tải lên</p>
            </div>
            {{else}}
            <div class="article-picture-product">
                <img class="picture-product" id="picture" src="{{ctproduct.avata}}" alt=""
                    title="ÁO SƠ MI HỒNG TAY NGẮN TRẺ TRUNG">
            </div>
            <div class="row">
                <div>
                    <p class="note-size">- Vui lòng tham khảo “bảng quy đổi kích cỡ” và so sánh với số đo áo hoặc quần
                        của bạn để chọn
                        được size phù hợp nhất.</p>
                </div>
                <div>
                    <p class="note-commit"> - Hình ảnh được chụp 100% từ sản phẩm thật, dưới ánh sáng tự nhiên và không
                        qua chỉnh sửa để đảm
                        bảo màu sắc trung thực nhất có thể (không tránh khỏi sai lệch từ 10-20% do thiết bị hiển thị).
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h5 class="product-name" id="name">{{ctproduct.tensp}}</h5>
            <p class="product-code" id="masp"><b>Mã sản phẩm:</b>{{ctproduct.masp}}</p>
            <div class="d-flex article-price">
                <div class="product-discount">
                    <p class="discount-content">
                        0%
                    </p>
                </div>
                <div class="product-price">
                    <p class="price-content" id="price">{{ctproduct.giasp}}</p>
                </div>
            </div>
            {{!-- khu vực chọn màu --}}
            <div class=" d-flex article-color">
                <p class="title-color">Màu sắc:</p>
                <div class="d-flex article-color-option">
                    {{#each this.ctproduct.listMau}}
                    <div>
                        <input type="radio" name="itemColor" value="{{mausac}}">
                        <label>{{mausac}}</label><br>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{!-- Khu vực chọn size --}}
            <div class=" d-flex article-size">
                <div>
                    <p class="title-size">Kich thước:</p>
                </div>
                <div class="d-flex article-size-option mt-2">
                    <div>
                        <input type="radio" id="size1" name="itemSize" value="S">
                        <label for="size1">S</label><br>
                    </div>
                    <div>
                        <input type="radio" id="size2" name="itemSize" value="M">
                        <label for="size2">M</label><br>
                    </div>
                    <div>
                        <input type="radio" id="size3" name="itemSize" value="L">
                        <label for="size3">L</label>
                    </div>
                    <div>
                        <input type="radio" id="size4" name="itemSize" value="XL">
                        <label for="size4">XL</label>
                    </div>
                </div>
            </div>

            <hr>

            {{!-- khu vực thêm yêu thích và them vao gio hang --}}
            <div class="d-flex article-shopping">

                <div class="article--iconFavorite">
                    <i class="fa-solid fa-heart iconFavorite"></i>
                </div>
                <div class="productInCart--quantity d-flex">
                    <button class="btnquantityDown" id="downquantity" name="down">-</button>
                    <input class="input--quantity" id="inputquntity" type="number" name="quantity" value="1"
                        max="{{ctproduct.soluongsp}}" disabled>
                    <button class="btnquantityUp" id="upquantity" name="up">+</button>
                </div>
                <div>
                    <button id="btn-addToCart" type="button" class="btn button-cart btn-lg">Thêm vào giỏ <i
                            class="fa-solid fa-cart-shopping icon-cartShopping"></i></button>
                </div>

            </div>

            <div>
                <p class="title-advertisment">Số lượng có hạn, đã bán gần hết, Số lượng: {{ctproduct.soluongsp}}</p>
            </div>
            <hr>
            {{!-- khu vuc thong tin san pham --}}
            <div class="article-infor-product">
                <p class="title-infor-szie">Thông tin sản phẩm:</p>
                <div class="article-infor-product-size">
                    <img class="infor-product-size"
                        src="/img/thongtinsodo/7878_76506fa674ae4bc8abef415db42ab64a_1024x1024.png" alt="">
                </div>
            </div>

        </div>
        {{/if}}
    </div>
    <hr>
    <div>
        <div class=" d-flex justify-content-between article-notification">
            <p>Đánh giá sản phẩm</p>

            <div class="alert alert-danger" role="alert">
                <p>Để đánh giá sản phẩm vui lòng bạn hãy đăng nhập</p>
            </div>
        </div>



        {{#if emptyNX}}

        <div class="mb-3 aritcle-infor-comment">
            {{#each ctnx}}
            <div class="">
                <div class="d-flex align-items-center">
                    <div class="d-flex article-comment-content">
                        <img class="avata" src="/img/uploaded/avatar-trang-y-nghia.webp" alt="">
                        <p class="writer">{{ho}} {{ten}}: </p>
                        <p class="comment-content"> {{content}}</p>
                    </div>
                    {{#if isAuthCmt}}
                    <div class="icon-edit">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                    {{/if}}
                </div>
                {{#each img}}
                <img class="picture-comment" src="/img/uploaded/{{namepicture}}" alt="Đang xử lí">
                {{/each}}
                <hr>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>không có nhận xét</p>
        {{/if}}
        {{#if lcisLogined}}
        <div>
            <form action="/fashion/menfashion/product/{{ctproduct.masp}}" enctype="multipart/form-data" method="post">
                <div class="d-flex article_input-infor">
                    <div>
                        <div id="article-upfile">
                            <label for="upFile"><i class="fa-solid fa-camera-retro"></i></label>
                            <input id="upFile" name="file" class="input-image" type="file" accept="video/*,image/*"
                                multiple="mutiple">

                        </div>
                        <div id="comment">
                            <label for="comment"><b>Nhận xét</b></label>
                            <input id="comment" name="content" type="text" class="input-comment"
                                placeholder="Viết nhận xét..." required>
                        </div>
                        <input id="comment" name="masp" type="text" class="input-comment" value="{{ctproduct.masp}}"
                            readonly="true" hidden>
                    </div>
                    <button class="btn-post" type="submit">Đăng</button>
                </div>
            </form>
        </div>
        {{/if}}
        {{#section 'js'}}
        <script src="/js/detailProduct.js"></script>
        {{/section}}